
Section 6 Subqueries/Exerc/.vs/Exerc/v15/.ssms_suo
Section 6 Subqueries/Exerc/Exerc.docx
Section 6 Subqueries/Exerc/Exerc.ssmssln
Section 6 Subqueries/Exerc/Exerc/1.sql
Section 6 Subqueries/Exerc/Exerc/2.sql
Section 6 Subqueries/Exerc/Exerc/3.sql
Section 6 Subqueries/Exerc/Exerc/Exerc.ssmssqlproj
Section 3 Selecionando e filtrando/Exerc/.vs/Exerc/v15/.ssms_suo
Section 3 Selecionando e filtrando/Exerc/Exerc.docx
Section 3 Selecionando e filtrando/Exerc/Exerc.ssmssln
Section 3 Selecionando e filtrando/Exerc/Exerc/1.sql
Section 3 Selecionando e filtrando/Exerc/Exerc/2.sql
Section 3 Selecionando e filtrando/Exerc/Exerc/3.sql
Section 3 Selecionando e filtrando/Exerc/Exerc/4.sql
Section 3 Selecionando e filtrando/Exerc/Exerc/Exerc.ssmssqlproj
Section 4 Agrupando dados/Exerc/.vs/Exerc/v15/.ssms_suo
Section 4 Agrupando dados/Exerc/Exerc.docx
Section 4 Agrupando dados/Exerc/Exerc.ssmssln
Section 4 Agrupando dados/Exerc/Exerc/1.sql
Section 4 Agrupando dados/Exerc/Exerc/2.sql
Section 4 Agrupando dados/Exerc/Exerc/3.sql
Section 4 Agrupando dados/Exerc/Exerc/4.sql
Section 4 Agrupando dados/Exerc/Exerc/Exerc.ssmssqlproj
Section 5 Joins/Exerc.docx
Section 5 Joins/Solution1/.vs/Solution1/v15/.ssms_suo
Section 5 Joins/Solution1/Solution1.ssmssln
Section 5 Joins/Solution1/SQL Server Scripts1/1.sql
Section 5 Joins/Solution1/SQL Server Scripts1/2.sql
Section 5 Joins/Solution1/SQL Server Scripts1/3.sql
Section 5 Joins/Solution1/SQL Server Scripts1/SQL Server Scripts1.ssmssqlproj
Section 7 Modificação de dados/Exerc/.vs/Exerc/v15/.ssms_suo
Section 7 Modificação de dados/Exerc/Exerc.docx
Section 7 Modificação de dados/Exerc/Exerc.ssmssln
Section 7 Modificação de dados/Exerc/Exerc/1.sql
Section 7 Modificação de dados/Exerc/Exerc/2.sql
Section 7 Modificação de dados/Exerc/Exerc/3.sql
Section 7 Modificação de dados/Exerc/Exerc/4.sql
Section 7 Modificação de dados/Exerc/Exerc/Exerc.ssmssqlproj
Section 8 Metadados, XML e índices Full-Text/Exerc/.vs/Exerc/v15/.ssms_suo
Section 8 Metadados, XML e índices Full-Text/Exerc/Exerc.docx
Section 8 Metadados, XML e índices Full-Text/Exerc/Exerc.ssmssln
Section 8 Metadados, XML e índices Full-Text/Exerc/Exerc/1.sql
Section 8 Metadados, XML e índices Full-Text/Exerc/Exerc/2.sql
Section 8 Metadados, XML e índices Full-Text/Exerc/Exerc/3.sql
Section 8 Metadados, XML e índices Full-Text/Exerc/Exerc/Exerc.ssmssqlproj
Section 9 Programando/Exec/.vs/Exec/v15/.ssms_suo
Section 9 Programando/Exec/Exec.docx
Section 9 Programando/Exec/Exec.ssmssln
Section 9 Programando/Exec/Exec/1.sql
Section 9 Programando/Exec/Exec/2.sql
Section 9 Programando/Exec/Exec/3.sql
Section 9 Programando/Exec/Exec/Exec.ssmssqlproj
Section 10 Usando técnicas avançadas/Exerc/.vs/Exerc/v15/.ssms_suo
Section 10 Usando técnicas avançadas/Exerc/Exec.docx
Section 10 Usando técnicas avançadas/Exerc/Exerc.ssmssln
Section 10 Usando técnicas avançadas/Exerc/Exerc/1.sql
Section 10 Usando técnicas avançadas/Exerc/Exerc/2.sql
Section 10 Usando técnicas avançadas/Exerc/Exerc/Exerc.ssmssqlproj
Section 10 Usando técnicas avançadas/Exerc/Order-ProductID.sqlplan
Section 11 Criando um banco de dados no/Exerc/.vs/Exerc/v15/.ssms_suo
Section 11 Criando um banco de dados no/Exerc/DBteste2.ipynb
Section 11 Criando um banco de dados no/Exerc/Exerc.docx
Section 11 Criando um banco de dados no/Exerc/Exerc.ssmssln
Section 11 Criando um banco de dados no/Exerc/Exerc/1.sql
Section 11 Criando um banco de dados no/Exerc/Exerc/2.sql
Section 11 Criando um banco de dados no/Exerc/Exerc/3.sql
Section 11 Criando um banco de dados no/Exerc/Exerc/Exerc.ssmssqlproj
Section 12 Tabelas e tipos de dados/Exerc/.vs/Exerc/v15/.ssms_suo
Section 12 Tabelas e tipos de dados/Exerc/Exerc.docx
Section 12 Tabelas e tipos de dados/Exerc/Exerc.ssmssln
Section 12 Tabelas e tipos de dados/Exerc/Exerc/1.sql
Section 12 Tabelas e tipos de dados/Exerc/Exerc/2.sql
Section 12 Tabelas e tipos de dados/Exerc/Exerc/3.sql
Section 12 Tabelas e tipos de dados/Exerc/Exerc/Exerc.ssmssqlproj
Section 13 Índices e Performance tunning/Exerc/.vs/Exerc/v15/.ssms_suo
Section 13 Índices e Performance tunning/Exerc/Exerc.docx
Section 13 Índices e Performance tunning/Exerc/Exerc.ssmssln
Section 13 Índices e Performance tunning/Exerc/Exerc/1.sql
Section 13 Índices e Performance tunning/Exerc/Exerc/2.sql
Section 13 Índices e Performance tunning/Exerc/Exerc/Exerc.ssmssqlproj
Section 14 Integridade referencial e triggers/Exerc/.vs/Exerc/v15/.ssms_suo
Section 14 Integridade referencial e triggers/Exerc/Exerc.docx
Section 14 Integridade referencial e triggers/Exerc/Exerc.ssmssln
Section 14 Integridade referencial e triggers/Exerc/Exerc/Exerc.ssmssqlproj
Section 14 Integridade referencial e triggers/Exerc/Exerc/3.sql
Section 14 Integridade referencial e triggers/Exerc/Exerc/2.sql
Section 14 Integridade referencial e triggers/Exerc/Exerc/1.sql
Section 15 XML/Exerc/.vs/Exerc/v15/.ssms_suo
Section 15 XML/Exerc/Exerc.docx
Section 15 XML/Exerc/Exerc.ssmssln
Section 15 XML/Exerc/Exerc/1.sql
Section 15 XML/Exerc/Exerc/2.sql
Section 15 XML/Exerc/Exerc/3.sql
Section 15 XML/Exerc/Exerc/4.sql
Section 15 XML/Exerc/Exerc/Exerc.ssmssqlproj
Section 16 Views/Exerc/.vs/Exerc/v15/.ssms_suo
Section 16 Views/Exerc/Exerc.docx
Section 16 Views/Exerc/Exerc.ssmssln
Section 17 Stored Procedures/Exerc/.vs/Exerc/v15/.ssms_suo
Section 17 Stored Procedures/Exerc/Exerc.docx
Section 17 Stored Procedures/Exerc/Exerc.ssmssln
Section 17 Stored Procedures/Exerc/Exerc/1.sql
Section 17 Stored Procedures/Exerc/Exerc/2.sql
Section 17 Stored Procedures/Exerc/Exerc/Exerc.ssmssqlproj
Section 18 User Defined Function/Exerc/.vs/Exerc/v15/.ssms_suo
Section 18 User Defined Function/Exerc/Exerc.docx
Section 18 User Defined Function/Exerc/Exerc.ssmssln
Section 18 User Defined Function/Exerc/Exerc/1.sql
Section 18 User Defined Function/Exerc/Exerc/2.sql
Section 18 User Defined Function/Exerc/Exerc/Exerc.ssmssqlproj
Section 19 CLR/1.1 Importação de CLR.dll
Section 19 CLR/2.2 Criação de objetos usando CLR.dll
Section 19 CLR/AWorksUtilities.dll
Section 19 CLR/Exerc/.vs/Exerc/v15/.ssms_suo
Section 19 CLR/Exerc/Exerc.docx
Section 19 CLR/Exerc/Exerc.ssmssln
Section 19 CLR/Exerc/Exerc/1.sql
Section 19 CLR/Exerc/Exerc/Exerc.ssmssqlproj
Section 2 Introdução ao SQL Server/Exercicios Introdução.docx
Section 20 Transações e locks/Exerc.docx
*.docx
Section 23 Backups/Exerc/.vs/Exerc/v15/.ssms_suo
Section 23 Backups/Exerc/Exerc.ssmssln
Section 23 Backups/Exerc/Exerc/Exerc.ssmssqlproj
Certificado SQL Server.pdf
.gitattributes
